body {
    background-color: var(--bs-gray-900);
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
p {
    color: var(--bs-white);
    font-size: 12px;
    line-height: 14px;
}
.btn-dashboard {
    border-radius: 16px;
    border-top-left-radius: 30px;
    background-color: #535fe6d6;
}
.my-deposit {
    &::before {
        content: url("../../img/deposit.png");
        position: relative;
        top: 40px;
        margin-right: 20px;
    }
    &-amet {
        margin-left: 36px;
    }
}
.toast {
}
.btn {
    display: flex;
    &::after {
        color: transparent;
    }
    &::before {
        content: url("../../img/svgs/united-kingdom.svg");
        margin-right: 19px;
    }
}
.second-raw {
    background-color: #535fe6d6;
}
.second-raw-icons {
    position: relative;
    bottom: 2px;
    right: 5px;
}
.dropdown-menu {
    background-color: #535fe6;
    border: #20c1cf 2px solid;
}
.progress {
    width: 200px;
}
.container-fluid {
    padding-top: 200px;
}
.smile {
    max-width: 24px;
    max-height: 24px;
}
.dropdown-item {
    &:hover {
        background-color: #20c1cf;
        color: #535fe6;
    }
}
.logout {
    padding: 12px 24px;
    border: 1px white solid;
    border-radius: 16px;
}

.hero {
    &__segment {
        background-color: var(--bs-gray-800);
    }
    &__money {
        &-deposit {
            color: #20c1cf;
        }
    }
    &__primary {
        border: 2px solid #535fe6;
        border-radius: 10px;
        &-top,
        &-bottom {
            width: 100%;
        }
    }

    &__days {
        &-percent {
            color: #535fe6d6;
            font-size: 32px;
            font-weight: 600;
        }
    }
    &__upper-segment {
        &-1,
        &-2,
        &-3,
        &-4,
        &-5 {
            color: #5e647a;
            font-size: 14px;
            line-height: 16px;
        }
        &-2 {
            padding-left: 180px;
        }
        &-3 {
            padding-left: 110px;
        }
        &-4 {
            padding-left: 20px;
        }

        &-1 {
            color: #535fe6d6;
        }
    }
    &__active-btn {
        background-color: #20c1cf;
        border-radius: 20px;
    }
    &__usd-btn {
        color: #535fe6d6;
        margin-left: 10px;
    }
    &__aside {
        margin-top: 50px;
        height: 714px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../img/bg-aside.png");
        padding: 56px 56px 75px;
        &-title {
            font-size: 76px;
        }
        &-description {
            font-size: 46px;
            font-weight: 400;
        }
        &-earn {
            &-container {
                border-radius: 20px;
                background-color: #20c1cf91;
                &-earn {
                    border-bottom: 2px solid #ffff0091;
                }
            }
        }
    }
}
.investment {
    color: #535fe6d6;
    border: 2px solid;
    height: 100%;
    background-color: transparent;
}
.footer-link {
    display: flex;
    &:after {
        content: url("../../img/svgs/arrow-right.svg");
        margin-left: 10px;
    }
}
.modal-content {
    background-color: var(--bs-gray-900);
}
.modal-dialog {
    color: white;
}

.terms {
    a {
        font-size: 12px;
    }
}
footer {
    ul {
        li {
            margin-bottom: 16px;

            a {
                color: var(--bs-gray-700);
            }
        }
    }
    padding: 100px 0 32px;
}
.form-check-input {
    width: 24px;
    height: 24px;
}
.new-deposit {
    position: relative;
    border: none;
    text-align: left;
    display: inline-block;
    &::before {
        content: url("../../img/svgs/add.svg");
        position: relative;
        top: 4px;
        left: 10px;
    }
}
.btn-group {
    .btn {
        &::before {
            content: "";
        }
    }
}
